In [3]:
import pymysql

In [4]:
import pymysql

conn = pymysql.connect(
    host='localhost',
    user='root',
    password='162738zhy',
    database='test_db'
)

In [6]:
import pandas as pd

data = {
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 22],
    'email': ['alice@example.com', 'bob@example.com', 'charlie@example.com']
}

df = pd.DataFrame(data)
df

      name  age                email
0    Alice   25    alice@example.com
1      Bob   30      bob@example.com
2  Charlie   22  charlie@example.com

In [8]:
import pandas as pd
from sqlalchemy import create_engine

# 1. 构造 pandas 数据
data = {
    'name': ['Ali', 'B', 'Char'],
    'age': [25, 30, 22],
    'email': ['alice@example.com', 'bob@example.com', 'charlie@example.com']
}
df = pd.DataFrame(data)

# 2. 创建 SQLAlchemy 引擎（连接 MySQL 数据库）
engine = create_engine("mysql+pymysql://root:162738zhy@localhost/test_db")

# 3. 将数据写入数据库中的 users 表
# 如果表不存在会自动创建；如果存在，使用 if_exists 控制行为
df.to_sql(
    name='users',        # 表名
    con=engine,          # 数据库连接
    if_exists='append',  # 如果表存在就追加（可选值：fail, replace, append）
    index=False          # 不写入 DataFrame 的索引列
)

print("数据插入成功！")

数据插入成功！

In [ ]:
import numba